# Ignore the file containing secret tokens.
.env

# Ignore the database file. It should not be on GitHub.
Database.db

# Ignore log files.
logs/
bot.log

# Ignore Python's cache files.
__pycache__/

# Ignore
.venv

web
main(public).zip
database
clearannouncementdata.py